{% extends 'base.html' %}
{% block title %} About - AboutCoaching Class {% endblock %}

{% block content %}
<h1> About Coaching class </h1>
<p> Coaching classes provide targeted academic support, competitive exam preparation (like JEE, NEET, or MPSC), and professional skill-building. Whether you prefer traditional offline centers or flexible online platforms,
     you can find options tailored to your schedule, loca. </p>
<center><h2><a href="/" class="btn btn-dark">Go to Home page </a></center></h2>

</p></a></p>
{% endblock %}