{% extends 'base.html' %}
{% block title %} Home - College Portal {% endblock %}
{% block content %}
<h1> Welcome to College Portal</h1>
<p>Total students:  {{students|length}}</p>
<h2> Quick Stats</h2>
<ul>
    {% for student in students %}
        <li>
            {{ student.name }} - 
            {{ student.marks }} marks -
            {% if student.marks >= 90 %}
                Excellent
            {% elif student.marks >= 75 %}
                Good
            {% elif student.marks >= 60 %}
                Average
            {% else %}
                Needs Improvement
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}