{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-header bg-primary text-white text-center">
                    <h3>🔐 Admin Login</h3>
                </div>

                <div class="card-body p-4">

                    <form method="POST">

                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text"
                                   name="username"
                                   class="form-control"
                                   placeholder="Enter Username"
                                   required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Enter Password"
                                   required>
                        </div>

                        <div class="text-center mt-4">
    <button type="submit" class="btn btn-success px-4">
        <i class="bi bi-key-fill"></i> Login
    </button>

    <a href="{{ url_for('home') }}" class="btn btn-secondary px-4 ms-2">
        <i class="bi bi-x-circle-fill"></i> Cancel
    </a>
</div>

                    </form>

                </div>

            </div>

        </div>

    </div>
</div>

{% endblock %}