{% extends 'base.html' %}
{% block title %} Students - Coching student {% endblock %}

{% block content %}
<h1> All Students</h1>
<p> Total : {{students|length}} students</p>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
  </div>
</div>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Roll Number</th>
        <th>Marks</th>
        <th>Grade</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.roll }}</td>
        <td>{{ student.marks }}</td>
        <td>
            {% if student.marks >= 90 %}
                Excellent
            {% elif student.marks >= 75 %}
                Good
            {% elif student.marks >= 60 %}
                Average
            {% else %}
                Needs Improvement
            {% endif %}
        </td>
    </tr>
    {% endfor %}
   
</table>
<center><h2><a href="/about" class="btn btn-dark">Go to Next</a></center></h2>
{% endblock %}